@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root{
    --primary-color: rgba(123, 71, 213, 1);
    --primary-color-transparent: rgba(123, 71, 213, 0.2);
}

.custom-container{
    @apply container mx-auto px-4 sm:px-6 lg:px-8;
}
